# Base de datos MySQL
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=crm_gps_panama
DB_PORT=3306

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=8h

# Email alertas
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=ventas@gpstrackerpanama.com

# App
PORT=3001
NODE_ENV=production
FRONTEND_URL=https://crm.gpstrackerpanama.com
